.content {
  margin: 34px 0 108px;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 63px 60px 41px;
  }
  @media (min-width: $desktop-width) {
    margin: 101px 0 85px 0;
  }
}
