.form {
  @media (min-width: $tablet-width) {
    margin: 0 60px 60px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 120px 66px;
  }
}

.form__position {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__ad {
  padding: 37px 10px 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 63px 105px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 260px 38px;
  }
}

.form__title {
  margin: 0;
  font-size: $secondary-font-size;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    @include font-style()
  }
}

.form__slogan {
  margin: 28px 0 0;
  line-height: 24px;
  color: #333333;

  @media (min-width: $tablet-width) {
    margin: 32px 0 0;
  }
}

.form__position--one {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 50%;
    box-sizing: border-box;
    border-left: 1px solid #DBDBDB;

    .user-form__title {
      text-align: left;
      padding: 20px 0 57px;
    }
  }
}

.form__position--two {
  @media (min-width: $tablet-width) {
    width: 100%;
    order: 3;
  }
}

.form__position--two {
  .user-form__title {
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding: 22px 0 20px;
      text-align: center;
      background-color: #FFFFFF;
    }
    @media (min-width: $desktop-width) {
      padding: 22px 0 72px;
    }
  }
}

.form__position--three {
  @media (min-width: $tablet-width) {
    width: 50%;
    order: 1;
    box-sizing: border-box;
    .user-form__title {
      text-align: left;
    }
  }
}

.form__position--three {
  .user-form__title {
    @media (min-width: $tablet-width) {
      padding-bottom: 48px;
    }
    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }
  }
}


.form__position--four,
.form__position--two {
  h3 { @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
 }
}

.form__position--four span,
.form__position--two span {
  @media (min-width: $tablet-width) {
    display: block;
    width: 400px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
  }
}
.form__position--four,
.form__position--two {
  h3:before, h3:after {
    @media (min-width: $tablet-width) {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid #DBDBDB;
      margin: auto;
    }
  }
}

.form__position--four,
.form__position--two {
  h3:before {
    @media (min-width: $tablet-width) {
      margin-right: 5px
    }
  }
}

.form__position--four,
.form__position--two {
  h3:after {
    @media (min-width: $tablet-width) {
      margin-left: 5px
    }
  }
}

.form__position--two {
  .user-form__list {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__position--two {
  .user-form__item {
    padding-bottom: 10px;
    @media (min-width: $tablet-width) {
      padding: 0 0 23px;
    }
    }
  }

.form__position--two {
  .user-form__item label {
    @media (min-width: $tablet-width) {
      padding: 0 0 8px 22px;
    }
    @media (min-width: $desktop-width) {
      padding: 15px 0 12px;
    }
  }
}

.form__position--two {
  .user-form__item input {
    width: 280px;
    @media (min-width: $tablet-width) {
      width: 648px;
    }
    @media (min-width: $desktop-width) {
      width: 257px;
     margin-left: 20px;
    }
  }
}

.form__position--four {
  .user-form__list {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 520px;
      margin: 0 0 25px 100px;
    }
    @media (min-width: $desktop-width) {
      width: 100%;
      margin: 0 0 20px;
    }
  }
}

.form__end {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
  }
}

.form__btn {
  font-family: $primary-font;
  margin: 45px 0 39px 19px;
  padding: 0;
  font-size: 21px;
  text-transform: uppercase;
  @include font-style();
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__btn--size {
  width: 280px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__btn--color {
  background-color: $background;
  color: #f2f2f2;
  border: none;
}
