.form {
  @media (min-width: $tablet-width) {
    margin: 0 60px 60px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 120px 66px;
  }
}

.form__position {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__ad {
  padding: 37px 10px 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 63px 105px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 260px 40px;
  }
}

.form__title {
  margin: 0;
  font-size: $secondary-font-size;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    @include font-style()
  }
}

.form__slogan {
  margin: 28px 0 0;
  line-height: 24px;
  color: #333333;

  @media (min-width: $tablet-width) {
    margin: 32px 0 0;
  }
}

.form__end {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
  }
}

.form__position--one {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 50%;
    box-sizing: border-box;
    border-left: 1px solid #E5E5E5;

    .user-form__title {
      text-align: left;
      padding: 20px 0 57px;
    }
  }
}

.form__position--two {
  @media (min-width: $tablet-width) {
    width: 100%;
    order: 3;
  }
}

.form__position--three {
  @media (min-width: $tablet-width) {
    width: 50%;
    order: 1;
    box-sizing: border-box;
    .user-form__title {
      text-align: left;
    }
  }
}

.form__position--three {
  .user-form__title {
    @media (min-width: $desktop-width) {
      padding-left: 80px;
      padding-bottom: 48px;
    }
  }
}

.form__position--two {
  .user-form__title {
    @media (min-width: $tablet-width) {
      padding: 22px 0;
      text-align: center;

    }
    @media (min-width: $desktop-width) {
      padding: 22px 0 72px;

    }
  }
}
.form__position--two {
  .user-form__list {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form__position--two {
  .user-form__item {
    @media (min-width: $tablet-width) {
      padding: 0 0 30px;
    }
    @media (min-width: $desktop-width) {
      padding: 0 0 33px;
    }
    }
  }

.form__position--two {
  .user-form__item label {
    @media (min-width: $tablet-width) {
      padding: 0 0 12px 20px;
    }
    @media (min-width: $desktop-width) {
      padding: 0 16px 0 0;
    }
  }
}

.form__position--two {
  .user-form__item input {
    width: 280px;
    @media (min-width: $tablet-width) {
      width: 648px;
    }
    @media (min-width: $desktop-width) {
      width: 316px;
    }
  }
}

.form__position--four {
  .user-form__title {
    padding: 15px 0 19px 0;
    @media (min-width: $tablet-width) {
      padding: 15px 150px 45px;
    }
    @media (min-width: $desktop-width) {
      padding: 15px 300px 45px;
    }
  }
}

.form__position--four {
  .user-form__list {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      margin: 0 auto 35px;
    }
    @media (min-width: $desktop-width) {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 25px;
    }
  }
}
/*
.form__position--four {
  .user-form__checkbox:nth-child(odd) {
    @media (min-width: $tablet-width) {
      width: 50%;
      margin-left: 160px;
    }
  }
}

.form__position--four {
  .user-form__checkbox:nth-child(even) {
    @media (min-width: $tablet-width) {
      width: 50%;
      padding-left: 20px;
    }
  }
}
*/
.form__btn {
  font-family: $primary-font;
  margin: 45px 0 38px 19px;
  padding: 0;
  font-size: 21px;
  text-transform: uppercase;
  @include font-style();
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__btn--size {
  width: 280px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__btn--color {
  background-color: $background;
  color: #f2f2f2;
  border: none;
}
