.form__ad {
  padding: 36px 6px 16px;
  text-align: center;
  border-bottom: 1px solid  #E5E5E5;
}
.form__title {
  font-size: $secondary-font-size;
  line-height: 26px;
}
.form__slogan {
  line-height: 24px;
  color: #333333;
}
