.mobile-nav {
  position: relative;
  width: auto;
  min-height: 55px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.mobile-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 34px;
    padding: 15px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 72px;
    padding: 15px 0;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: 320px) and (max-width: 768px) {
    &:hover {
      color: #669EC0;
    }
    &:active, &:focus {
      color: rgba(0, 0, 0, 0.3);
    }
    &:active {
      color: #766357;
    }
  }
  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.site-list li:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: $tablet-width) {
    background: none;
  }
}
.site-list li {

  @media (min-width: $tablet-width) {
    width: 20%;
    &:nth-child(4n + 1) {
      margin-right: 31px;
    }
    &:nth-child(4n + 3) {
      margin-left: auto;
      margin-right: 31px;
    }
    &:nth-child(1), &:nth-child(2) {
      text-align: left;
    }
    &:nth-child(3), &:nth-child(4) {
      text-align: right;
    }
  }
}

.site-list a {
  display: block;
  font-size: $secondary-font-size;
  font-weight: bold;
  line-height: 40px;
  padding: 10px 0 5px 0;
  color: #ffffff;


  @media (min-width: $tablet-width) {
    font-size: $primary-font-size;
    line-height: 26px;
    color: #000000;
    padding: 0;

    &:hover {
    color: $background;
  }
    &:active, &:focus {
      color: rgba(0, 0, 0, 0.3);
    }
    &:active {
      color: #766357;
    }
  }
}

.mobile-nav__toggle {
  position: absolute;
  top: 240px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 22.9px;
  height: 22px;
  margin: 0;
  padding: 0;
  background-image: url("../../img/icon-menu.svg");
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
/*
.mobile-nav--opened .mobile-nav__toggle::before {
  content: "";
  position: absolute;
  top: 240px;
  right: 21px;
  width: 22.9px;
  height: 2px;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0 #81B3D2;
}
*/
