.page-header {
  display: flex;
  position: relative;
  min-height: 279px;
  background-color: #ffffff;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  top: 223px;
  left: 109px;
  width: 102px;
  height: 84px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 333px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 507px;
    width: 186.6px;
    height: 96.4px;
  }
}
