.page-ad {
  display: flex;
  flex-direction: column;
  min-height: 631px;
  align-items: center;
  position: relative;
  background-image: /*url("../../img/bg-triangle.svg"),*/ url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position:/*right 0 bottom 0,*/ right 0 bottom 205px, center -90px;
  background-color: $background;
}

.page-ad__welcome {
  position: absolute;
  top: 90px;
  left: 19px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    top: 77px;
    left: 154px;
  }

  @media (min-width: $desktop-width) {
    top: 78px;
    left: 370px;
  }
}

.page-ad__wrapper {
  width: 100%;
  min-height: 206px;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.page-ad__slogan {
  margin: 0 auto;
  padding: 32px 25px;
  font-size: $secondary-font-size;
  @include font-style();
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 520px;
    margin: 43.5px auto 28px;
  }

  @media (min-width: $desktop-width) {
    width: 483px;
    margin: 55px auto 28px;
  }
}

.page-ad__wrapper p {
  margin: 0 auto;
  padding: 0 18px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.page-ad__name {
  position: absolute;
  top: 108px;
  right: 46px;
  width: 229px;
  height: 39px;

  @media (min-width: $tablet-width) {
    width: 456.9px;
    height: 77.6px;
    top: 95px;
    left: 157px;
  }

  @media (min-width: $desktop-width) {
    width: 459.5px;
    height: 79.8px;
    top: 95px;
    left: 369px;
  }
}
