.page-start {
  display: flex;
  flex-direction: column;
  min-height: 158px;
  align-items: center;
  position: relative;
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0, center -90px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }
}

.page-start__name {
  position: absolute;
  top: 52px;
  right: 45px;

  @media (min-width: $tablet-width) {
    width: 456.9px;
    height: 77.6px;
    top: 95px;
    right: 157px;
  }

  @media (min-width: $desktop-width) {
    width: 459.5px;
    height: 79.8px;
    right: 369px;
  }
}
