.page-ad {
  display: flex;
  min-height: 631px;
  position: relative;
  background-image: url("../../img/bg-back-mobile@1x.jpg"), url("../../img/bg-intro-triangle-mobile.svg");
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: right 0 top 0, center -90px;
  background-color: $background;
}
.page-ad__welcome {
  position: absolute;
  top: 90px;
  left: 19px;
}

.page-ad__wrapper {
  padding: 0 25px;
  position: absolute;
  top: 477px;
  background-color: white;
}

.page-ad__slogan {
  font-size: $secondary-font-size;
  @include font-style();
  text-align: center;
}
.page-ad__wrapper p {
  margin: 0 auto;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.page-ad__name {
  position: absolute;
  top: 108px;
  right: 46px;
}
