.photo {
  display: flex;
  flex-direction: column;
  padding: 18px 20px;
  border-top: 1px solid #E5E5E5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
  }
}

.photo__wrapper {
  width: 280px;
  height: 280px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }
  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.photo__wrapper--big {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }
  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.photo--size {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }
  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.photo_big--size {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }
  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.photo__caption {
  position: relative;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding: 16px;
    background-color: #f2f2f2;
  }
  @media (min-width: $desktop-width) {
    background-color: rgba(0,0, 0, 0.3);
  }
}

.photo__title {
  font-size: $primary-font-size;
  line-height: 24px;
  margin: 0;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.photo__author {
  margin: 0;
  line-height: 24px;
  text-transform: none;
  color: #333333;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.photo__number {
  margin-left: 37px;
  margin-bottom: 0;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.photo__icon {
  position: absolute;
  top: 70px;
  width: 23px;
  height: 21px;
  fill: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #FFFFFF;

  @media (min-width: $tablet-width) {
    top: 28px;
    right: 62px;
    background-color: $primary-color;
  }
  @media (min-width: $desktop-width) {
    fill: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (min-width: $desktop-width) {
  .photo {
    position: relative;
  }
  .photo--position {
    position: absolute;
    left: 0;
    top: 187px;
    width: 100%;
  }
  .photo_big--position {
    position: absolute;
    left: 0;
    top: 320px;
    width: 100%;
  }
}
