.photo-gallery {
width: 100%;
}

.photo-gallery__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 110px 45px;
  }
  @media (min-width: $desktop-width) {
    padding: 0 380px 45px;
  }
}

.photo-gallery__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    font-size: 30px;
    line-height: 26px;
  }
}

.photo-gallery__slogan {
  margin: 35px 20px;
  text-align: center;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 33px 0;
  }
}
