.reason-services {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 330px;
  }
}

.reason-services__title {
  font-size: $secondary-font-size;
  font-weight: bold;
}

.color-black {
  color: $primary-text-color;
}

.reason-services__wrapper {
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    margin-top: 158px;
    width: 185px;
    text-align: center;
  }
  @media (min-width: $desktop-width) {
    width: 282px;
  }
}


.reason-services__icon {
  position: relative;

}

.reason-services__icon::before {
  position: absolute;
  top: 60px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.reason-services__icon--housing::before {
  width: 39px;
  height: 36.83px;
  margin-left: 21px;
  background-image: url("../../img/icon-house.svg");
}

.reason-services__icon--souvenir::before {
  width: 40px;
  height: 34.9px;
  margin-left: 25px;
  margin-top: 3px;
  background-image: url("../../img/icon-gift.svg");
}

.reason-services__icon--food::before {
  width: 32px;
  height: 38px;
  margin-left: 18px;
  background-image: url("../../img/icon-burger.svg");
}
