

.reason {
  display: flex;
  flex-direction: column;
  background-color: $background;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.reason__picture {
  width: 320px;
  height: 260px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.reason__picture--size {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.reason__wrapper {
  text-align: center;
  padding: 72px 5px 30px 5px;
  background-image: url("../../img/bg-triangle.svg");
  background-size: 100%, cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding: 36px 32px;
    border-bottom: none;
    background-image: none;
  }
  @media (min-width: $desktop-width) {
    padding: 45px 60px;
  }
}

.reason-other__wrapper {
  text-align: center;
  padding: 39px 15px 25px;
  border-bottom: 1px solid #D6D6D6;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding: 38px 50px;
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .reason-other__wrapper--one {
    order: 2;
  }
}

.reason__title {
  font-size: $secondary-font-size;
  font-weight: bold;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 40px;
  }
}

.reason__number {
  text-align: center;
}

.reason-other__wrapper--dark {
  padding: 26px 35px 15px;

  @media (min-width: $tablet-width) {
    padding: 42px 30px;
  }
  @media (min-width: $desktop-width) {
    padding: 40px 40px;
  }
}

.reason-other__wrapper--dark .reason__title {
  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 60px;
  }
}

.white {
  color: $secondary-text-color;
}

.bg-grey {
  background-color: #EEEEEE;
}
