.reason-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px 40px 20px 70px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 330px;
    padding: 0;
  }
}

.reason-services__title {
  font-size: $secondary-font-size;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    @include font-style();
  }
}

.reason-services__wrapper {
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    padding: 138px 40px 47px 45px;
    width: 256px;
    text-align: center;
  }
  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 140px 55px 47px 55px;
  }
}

@media (min-width: $tablet-width) {
  .reason-services__wrapper--one {
    order: 1;
  }

  .reason-services__wrapper--two {
    order: 3;
    padding: 138px 30px 47px;
  }

  .reason-services__wrapper--three {
    padding: 138px 50px 47px;
    order: 2;
  }
}

.cl-black {
  color: $primary-text-color;
}

.reason-services__icon {
  position: relative;
  }

.reason-services__icon--housing {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 39px;
  height: 36.83px;
  fill: $background;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 87px;
    width: 75px;
    height: 72px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    left: 161px;
  }
}

.reason-services__icon--souvenir {
  position: absolute;
  top: 3px;
  left: -75px;
  width: 40px;
  height: 34.9px;
  margin-left: 25px;
  margin-top: 3px;
  fill: $background;

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 95px;
    width: 64px;
    height: 75px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    left: 164px;
  }
}

.reason-services__icon--food {
  position: absolute;
  top: 5px;
  left: -67px;
  width: 32px;
  height: 38px;
  margin-left: 18px;
  fill: $background;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 92px;
    width: 76px;
    height: 67.9px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    left: 162px;
  }
}
