.reason {
  display: flex;
  flex-direction: column;
  background-color: $background;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.reason__picture {
  width: 320px;
  height: 260px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.reason__picture--size {
  @media (min-width: $tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.reason__wrapper {
  padding: 32px;
  border-bottom: 1px solid #D6D6D6;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding: 33px 20px;
    border-bottom: none;
  }
  @media (min-width: $desktop-width) {
    padding: 43px 45px;
  }
}

.reason__title {
  font-size: $secondary-font-size;
  font-weight: bold;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }
  @media (min-width: $desktop-width) {
    padding: 0 90px;
  }
}

.reason__number {
  text-align: center;
}

.reason__wrapper p {
  text-align: center;
}

.color-white {
  color: $secondary-text-color;
}

.reason--dark {
  background-color: #EEEEEE;
}
