fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.user-form {
  border-top: 1px solid #E5E5E5;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.user-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-form__title {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  font-size: $secondary-font-size;
  @include font-style();

  @media (min-width: $tablet-width) {
    padding: 20px 0 50px;
    font-size: 21px;
    line-height: 26px;
  }
}
/*
.user-form__icon-tel {
  position: absolute;
  top: 0;
  left: 10px;
  width: 58px;
  height: 58px;
  background-color: #81B3D2;
  background-image: url("../../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.user-form__icon-mail {
  width: 58px;
  height: 58px;
  background-image: url("../../img/icon-mail.svg");
  background-repeat: no-repeat;
}
*/

.user-form__item {
  padding: 0 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.user-form__item label {
  line-height: 26px;
  color: #333333;
}

.user-form__item input {
  height: 58px;
  @include label-style();

  /*
    &:nth-child(1) {
    width: 230px;
  }
    &:nth-child(2) {
    width: 192px;
  }
    &:nth-child(3) {
    width: 194px;
  }*/

}

.user-form__item input::placeholder {
  padding-left: 22px;
  @include placeholder();
}

.user-form__radio {
  padding: 20px 0;
}

.user-form__checkbox {
  padding: 15px 0 40px;
}

.user-form__radio label,
.user-form__checkbox label {
  position: relative;
  font-size: 18px;
  @include font-style();
  text-transform: none;
  margin-left: 98px;
}

.user-form__radio input[type="checkbox"],
.user-form__checkbox input[type="checkbox"] {
  display: none;
}

.user-form__radio input[type="checkbox"] + label::before {
  position: absolute;
  top: -17px;
  left: -80px;
  content: "";
  width: 48px;
  height: 48px;
  background-color: $primary-color;
  border-radius: 50%;
}
/* нужно прописать условие только для первой лишки
.user-form__radio:nth (1) input[type="checkbox"] + label::before {
  position: absolute;
  top: -17px;
  left: -80px;
  content: "";
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;

}

*/
.user-form__checkbox input[type="checkbox"] + label::before {
  position: absolute;
  top: -20px;
  left: -80px;
  content: "";
  width: 54px;
  height: 54px;
  background-size: 50%;
  background-color: $primary-color;
}

.user-form__checkbox input[type="checkbox"]:checked + label::before {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.user-form__emotion {
  min-height: 160px;
  text-align: center;
}

.user-form__emotion--style {
  width: 279px;
  min-height: 160px;
  background-color: $primary-color;
  border: none;

  @media (min-width: $tablet-width) {
    width: 648px;

  }
  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.user-form__emotion--style::placeholder {
  padding: 20px 0 0 21px;
  @include placeholder()
}
