.foto {
  display: flex;
  flex-direction: column;
}
.foto__wrapper {
  margin: 0 auto;
  background-color: $background;
}
.foto_caption {
padding-left: 20px;
}
.foto__title {
  line-height: 24px;
}
.foto_autor {
  line-height: 24px;
  text-transform: none;
}
.foto__number {
  line-height: 24px;
  font-weight: bold;
}
