// Mixin
@mixin font-style() {
  line-height: 26px;
  font-weight: bold;
}

@mixin label-style() {
  background-color: $primary-color;
  border: none;
}

@mixin placeholder() {
  font-family: $primary-font;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}

@mixin bg-img ($position1, $position2) {
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: $position1, $position2;
}

@mixin padding ($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin line () {
  position: relative;
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  background-color: #dbdbdb;
}

@mixin fieldset () {
  padding: 0;
  margin: 0;
  border: none;
}
