.mobile-nav {
  display: flex;
  flex-direction: column;
  min-height: 223px;
  margin: 0 auto;
}

.mobile-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mobile-nav__list a {
  color: $secondary-text-color;
}
.site-list__item {
  height: 55px;
  font-size: $secondary-font-size;
  font-weight: bold;
  color: $secondary-text-color;
}
.mobile-nav__toggle {
  position: absolute;
}
