.page-header {
  display: flex;
  position: relative;
  min-height: 279px;
  background-color: #ffffff;
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  margin: 223px 0 0 109px;
  width: 102px;
  height: 84px;
}

