.page-header {
display: flex;
flex-wrap: wrap;
background-color:$background;
width: 320px;
}

.page-header__logo {
  position: absolute;
  z-index: 2;
  margin-left: 109px;
  width: 102px;
  height: 84px;
}

